.category-div {
  border-top: 1px solid var(--border);
  border-bottom: 1px solid var(--border);
  height: 4rem;
  background-color: var(--dark-mode-bg);
  color: var(--color);
  display: inline-block;
  width: 100%;
  padding: 1.5rem 0rem;
}
div.category-div {
  overflow-y: hidden;
  overflow-x: auto;
  white-space: nowrap;
}

.category-div::-webkit-scrollbar {
  display: none;
}

.category-chips {
  padding: 0.6rem;
  background-color: var(--dark-mode-chips);
  color: var(--color);
  border-radius: 50px;
  margin: 0rem 0.5rem;
  cursor: pointer;
}
